.result-wait,.result-rejudge-wait {
  color: #95a5a6 !important;
}
.result-compile, .result-judging {
  color: #e67e22 !important;
}
.result-ac {
  color: #009F6B !important;
  font-weight: bold;
}
.result-pe, .result-wa, .result-tle, .result-mle, .result-ole {
  color: #e74c3c !important;
}
.result-rte, .result-ce, .result-co {
  color: #4765a0 !important;
}
.result-del {
  color: black !important;
  text-decoration: line-through;
}
a.result-ac:hover, a.result-ac:active,  a.result-ac:focus, {
  color: #009F6B;
  font-weight: bold;
}
a.result-wa:hover, a.result-wa:active, a.result-wa:focus {
  color: #e74c3c;
}